@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}
body{
  background: #1C1C21;
  font-family: 'Sarpanch', 'Arial', sans-serif;
}
.main_container{
  max-width: 1430px;
  margin: auto;
}

@font-face {
  font-family: 'Sarpanch';
  src: url('../pages/fonts/Sarpanch-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sarpanch';
  src: url('../pages/fonts/Sarpanch-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sarpanch';
  src: url('../pages/fonts/Sarpanch-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sarpanch';
  src: url('../pages/fonts/Sarpanch-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sarpanch';
  src: url('../pages/fonts/Sarpanch-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Sarpanch';
  src: url('../pages/fonts/Sarpanch-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
.Work_company{
  padding-top: 150px;
  padding-bottom: 138px;
}
.why_me{
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .main_container{
    max-width: 100%;
    padding: 0 20px;
  }
  .Work_company {
    padding-top: 50px;
    padding-bottom: 50px;
}
 
}